@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: seashell;
    font-family: "Crimson Text" , Sans-serif;
    font-size: 300;
}

/* heading and logos */

h1 {
    font-family: "Cardo", cursive;
    font-style: bold;
    letter-spacing:3px;
    font-size: 500%;
    color: #222222;
    padding: 5px;
}

h2 {
    font-family: "Cardo", cursive;
    letter-spacing: 3px;
    font-size: 50px;
    color: #222222;
    padding: 5px;
    margin-left: 20px;
}

#logo {
    float: left;
    margin-left: 20px;
    line-height: 160px;
}

#mini-logo {
    padding: 0 7px;
    float: right;
    color: #222222;
    position: relative;
    right: 3%;
    top: 20px;
    border: 3px solid #222222;
    border-radius: 20%;
    font-size: 300%;
}

.menu li {
    font-size: 160%;
    color: #222222;
    list-style:armenian;
    display: inline;
    padding: 0 10px;
}

#main-nav {
    /* clear: both; */
    /* overflow: hidden; */
    float: right; 
    position: relative;
    top: 100px;
    left: 5%;
    margin: 0 30px 30px 0;

}

#hero-image {
    clear: both;
    height: 700px;
    width: 100%;
    background: url('../images/importedImage401212_header.webp') no-repeat center center;
    background-size: cover;
}
