@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: seashell;
    font-family: "Crimson Text" , Sans-serif;
}

/* heading and logos */

header {
    width: 100%;
    height: 150px;
}

h1 {
    font-family: "Cardo", cursive;
    font-style: bold;
    letter-spacing:3px;
    font-size: 700%;
    color: #222222;
    padding: 5px;
}

h2 {
    font-family: "Cardo", cursive;
    letter-spacing: 3px;
    font-size: 50px;
    color: #222222;
    border-bottom: 2px solid #222222;
}

#logo {
    float: left;
    margin-left: 20px;
    line-height: 160px;
}

#mini-logo {
    padding: 0 7px;
    float: right;
    color: #222222;
    position: relative;
    right: 3%;
    top: 20px;
    border: 3px solid #222222;
    border-radius: 20%;
    font-size: 300%;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

#main-nav a:hover {
    border: 1px solid #222222;
}

#main-nav {
    float: right; 
    position: relative;
    top: 100px;
    left: 5%;
    margin: 0 30px 30px 0;
    color: inherit;
}

/* Dropdown Menu */

menu li .dropdown {
    font-size: 160%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

#main-nav li {
    float: left;
    list-style-type: none;
}
  
li a, .dropbtn {
    font-size: 160%;
    display: inline-block;
    color:#222222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid seashell;
}
  
li.dropdown {
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: seashell;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #222222;

  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
    box-sizing: content-box;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/*  hero image */

#hero-image {
    clear: both;
    height: 700px;
    width: 100%;
    background: url('../images/importedImage401212_header.webp') no-repeat center center;
    background-size: cover;
}

#sub-header {
    width: fit-content;
    margin: 20px 20px;
}

#text-top-left {
    float: left;
    height: fit-content;
    width: 45%;
    margin-left: 2%;
    font-size: 2rem;
}

#text-middle-right {
    clear: both;
    float: right;
    height: fit-content;
    width: 45%;
    margin-right: 2%;
    font-size: 2rem;
}

#text-bottom-left {
    clear: both;
    float: left;
    height: fit-content;
    width: 45%;
    margin-left: 2%;
    font-size: 2rem;
}

hr {
    clear: both;
}

#castle_bar {
    text-align: center;
    padding: 30px 5px;
}

#castle_bar li {
    font-size: 1.2rem;
    list-style: none;
    display: inline;
    padding: 10px 10px;
    margin: 1px;
}

.castle_list {
    margin: 0 auto;
}

.castle_list a {
    text-decoration: none;
    color: inherit;
    border: 1px solid seashell;
}

.castle_list a:hover {
    border: 1px solid #222222;
    box-sizing: border-box;
}

#second-main-nav {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

#second-main-nav ul li {
    display: inline-block;
}


menu li .dropdown2 {
    font-size: 160%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

#second-main-nav li {
    margin: 0 auto; 
    list-style-type: none;
}
  
#second-main-nav li a {
    font-size: 160%;
    display: inline-block;
    color:#222222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-color: mistyrose;
}

#second-main-nav li a:hover {
    color:#111111;
}

/* social networks */

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 2%;
    color: #222222;
}

footer {
    width: 100%;
    background:mistyrose ;
}

footer li a {
    border: 1px solid mistyrose;
}

.social-networks i:hover {
    color: #111111; 
}